@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070809;
  --foreground: #F2F2F0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}
